/* @font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/MPLUS1p/MPLUS1p-Thin.woff2) format('woff2');
}
@font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/MPLUS1p/MPLUS1p-Light.woff2) format('woff2');
} */
@font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/MPLUS1p/MPLUS1p-Regular.woff2) format('woff2');
}
/* @font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/MPLUS1p/MPLUS1p-Medium.woff2) format('woff2');
} */
@font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/MPLUS1p/MPLUS1p-Bold.woff2) format('woff2');
}
/* @font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts/MPLUS1p/MPLUS1p-ExtraBold.woff2) format('woff2');
}
@font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/MPLUS1p/MPLUS1p-Black.woff2) format('woff2');
} */


/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap'); */