@import '../static/fonts/MPLUS1p/MPLUS1p';
@import 'tailwindcss';
@config '../tailwind.config.ts';

@theme {
  /* --- BASE --- */
  --color-primary-50:  #FCFFE7;
  --color-primary-100: #DCE5CE;
  --color-primary-200: #BECDB5;
  --color-primary-300: #9FB59A;
  --color-primary-400: #7B9A7D;
  --color-primary-500: #5B7C65;
  --color-primary-600: #3B584B;
  --color-primary-700: #1E3230;
  --color-primary-800: #101E21;
  --color-primary-900: #070F15;
  --color-primary-950: #030A12;

  --color-accent-100: #CDFFCF;
  --color-accent-200: #88E695;
  --color-accent-300: #51CC6E;
  --color-accent-400: #25B354;
  --color-accent-500: #0C9949;
  --color-accent-600: #057D45;
  --color-accent-700: #01613E;
  --color-accent-800: #004532;
  --color-accent-900: #002922;
  
  --color-success-100: #D9FFA8;
  --color-success-200: #B9F284;
  --color-success-300: #94E161;
  --color-success-400: #6FD042;
  --color-success-500: #4BBF27;
  --color-success-600: #269F11;
  --color-success-700: #0D7906;
  --color-success-800: #035305;
  --color-success-900: #022E07;

  --color-danger-100: #FEA4CD;
  --color-danger-200: #FF79B4;
  --color-danger-300: #F6599C;
  --color-danger-400: #E93A83;
  --color-danger-500: #D71967;
  --color-danger-600: #C1135F;
  --color-danger-700: #A70D55;
  --color-danger-800: #840845;
  --color-danger-900: #570330;

  /* Not tested at all, may change completely later */
  --color-info-100: #9FF0FF;
  --color-info-200: #69DBFF;
  --color-info-300: #4CC3FF;
  --color-info-400: #33A9FF;
  --color-info-500: #1E8CFF;
  --color-info-600: #1371F3;
  --color-info-700: #0D58E7;
  --color-info-800: #0535BA;
  --color-info-900: #02137A;

  /* Not tested at all, may change completely later */
  --color-warning-100: #FEF1CD;
  --color-warning-200: #FDE09B;
  --color-warning-300: #FBC869;
  --color-warning-400: #F8B143;
  --color-warning-500: #F48D07;
  --color-warning-600: #D16F05;
  --color-warning-700: #AF5503;
  --color-warning-800: #8D3E02;
  --color-warning-900: #752E01;

  /* GENERATED */
  /* Half opacity */
  --color-info-500-50: #1E8CFF80;
  /* Produces 800 on 900 (it's transparent)... */
  --color-900-800-75: #132325bf;
  --color-900-800-15: #43736527;
  --color-900-500-50: #AFE9B580;
  --color-900-600-50: #6FA18180;
  /* Opaque versions */
  --color-900-800-75-opaque: #132325;
  --color-900-700-75-opaque: #263E39;
  --color-900-600-75-opaque: #4C705D;
  --color-900-500-75-opaque: #77A080;

  /* The theme design is heavily inspired by Github Primer */

  /* --- FUNCTIONAL --- */
  /* NEUTRAL */
  /* Background */
  --color-bg: var(--color-primary-900);
  --color-bg-muted: var(--color-primary-800);
  --color-bg-emphasis: var(--color-primary-500);
  --color-bg-inset: var(--color-primary-950);
  --color-bg-overlay: var(--color-900-800-75);

  /* Foreground */
  --color-fg: var(--color-primary-50);
  --color-fg-muted: var(--color-primary-200);
  --color-fg-disabled: var(--color-primary-300);
  --color-fg-onEmphasis: var(--color-primary-50);
  --color-fg-link: var(--color-primary-200);

  /* Border */
  --color-border: var(--color-primary-700);
  --color-border-muted: var(--color-primary-600);
  --color-border-emphasis: var(--color-primary-500);

  /* SEMANTIC */
  /* Accent */
  --color-fg-accent: black;
  --color-bg-accent-emphasis: black;
  --color-bg-accent-muted: black;
  --color-border-accent-emphasis: black;
  --color-border-accent-muted: black;

  /* Warning */
  --color-fg-warning: black;
  --color-bg-warning-emphasis: black;
  --color-bg-warning-muted: black;
  --color-border-warning-emphasis: black;
  --color-border-warning-muted: black;

  /* Success */
  --color-fg-success: black;
  --color-bg-success-emphasis: black;
  --color-bg-success-muted: black;
  --color-border-success-emphasis: black;
  --color-border-success-muted: black;

  /* Danger */
  --color-fg-danger: var(--color-danger-300);
  --color-bg-danger-emphasis: var(--color-danger-600);
  --color-bg-danger-muted: var(--color-danger-900);
  --color-border-danger-emphasis: var(--color-danger-600);
  --color-border-danger-muted: var(--color-danger-600);

  /* --- PATTERN --- */
  /* Control > Bg */
  --color-control-bg: var(--color-primary-800);
  --color-control-bg-hover: var(--color-primary-600);
  --color-control-bg-active: var(--color-primary-500);
  --color-control-bg-disabled: var(--color-primary-700);
  /* Control > Border */
  --color-control-border: var(--color-primary-600);
  --color-control-border-hover: transparent;
  --color-control-border-active: var(--color-primary-400);
  --color-control-border-disabled: transparent;
  /* Control > Fg */
  --color-control-fg: var(--color-fg);
  --color-control-fg-hover: var(--color-fg-muted);
  --color-control-fg-muted: var(--color-fg-muted); /* e.g. Input placeholder */ 
  --color-control-fg-disabled: var(--color-fg-disabled);
  /* Control > Overlay (control-transparent-bgColor in Primer) */
  --color-control-overlay: transparent;
  --color-control-overlay-hover: var(--color-900-600-50);
  --color-control-overlay-active: var(--color-900-500-50);
  --color-control-overlay-disabled: transparent;
  /* Control > Inverted (not in Primer) */
  --color-control-inverted: var(--color-primary-50);
  --color-control-inverted-hover: var(--color-primary-300);
  --color-control-inverted-active: var(--color-primary-400);
  --color-control-inverted-disabled: var(--color-primary-200);
  --color-control-inverted-fg: var(--color-primary-950);
  --color-control-inverted-fg-hover: var(--color-primary-600);
  --color-control-inverted-fg-muted: var(--color-primary-600);
  --color-control-inverted-fg-disabled: var(--color-primary-600);

  /* Focus */
  --color-focus-outline: var(--color-info-500);
  --color-selection: var(--color-info-500-50);

  /* Deriv (use at 75% opacity) */
  --color-deriv-bg-neutral-1: var(--color-bg);
  --color-deriv-bg-neutral-2: var(--color-900-800-75-opaque);
  --color-deriv-bg-neutral-3: var(--color-900-700-75-opaque);
  --color-deriv-bg-neutral-4: var(--color-900-600-75-opaque);
  --color-deriv-bg-warning-1: var(--color-warning-900);
  --color-deriv-bg-warning-2: var(--color-warning-800);
  --color-deriv-bg-warning-3: var(--color-warning-700);
  --color-deriv-bg-warning-4: var(--color-warning-600);
  --color-deriv-bg-danger-1: var(--color-danger-900);
  --color-deriv-bg-danger-2: var(--color-danger-800);
  --color-deriv-bg-danger-3: var(--color-danger-700);
  --color-deriv-bg-danger-4: var(--color-danger-600);
  --color-grid: var(--color-primary-700);

  /* --- FONT --- */
  --font-math: 'M PLUS 1p', var(--font-sans);
}

/* Inherited from shadcn */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg selection:bg-selection;
  }

  /* Typography, taken from shadcn */
  .prose {
    h1 {
		@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
	}
	h2 {
		@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
	}
	h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight;
	}
	h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}
	p {
		@apply leading-7 not-first:mt-6;
	}
	blockquote {
		@apply mt-6 border-s-2 ps-6 italic;
	}
	ul {
		@@apply my-6 ms-6 list-disc [&>li]:mt-2;
	}
	code {
		@apply bg-bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
	}
	.lead {
		@apply text-fg-muted text-xl;
	}
	.large {
		@apply text-lg font-semibold;
	}
	small {
		@apply text-sm leading-none font-medium;
	}
	.muted {
		@apply text-fg-muted text-sm;
	}

	/* Table */
	.table-wrapper {
		@apply my-6 w-full overflow-y-auto;
	}
	table {
		@apply w-full;
	}
	tr {
		@apply even:bg-bg-muted m-0 border-t p-0;
	}
	th {
		@apply border px-4 py-2 text-start font-bold [[align=center]]:text-center [[align=right]]:text-end;
	}
	td {
		@apply border px-4 py-2 text-start [[align=center]]:text-center [[align=right]]:text-end;
	}
  }
}

/* Old shadcn palette */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
} */