@import '../static/fonts/MPLUS1p/MPLUS1p';
@import 'tailwindcss';

@config '../tailwind.config.ts';

@theme {
  /* The theme design is heavily inspired by Github Primer */

  /* --- FUNCTIONAL --- */
  /* NEUTRAL */
  /* Background */
  --color-bg: hsl(222.2 84% 4.9%);
  --color-bg-muted: hsl(219, 39%, 13%);
  --color-bg-emphasis: hsl(220, 30%, 26%);
  --color-bg-inset: hsl(223, 88%, 3%);
  --color-bg-overlay: hsla(219, 35%, 16%, 0.75);

  /* Foreground */
  --color-fg: hsl(210 40% 98%);
  --color-fg-muted: hsl(214, 30%, 73%);
  --color-fg-onEmphasis: hsl(210 40% 98%);
  --color-fg-link: black;

  /* Border */
  --color-border: hsl(217.2 32.6% 17.5%);
  --color-border-muted: hsl(219, 28%, 24%);
  --color-border-emphasis: hsl(210, 44%, 74%);

  /* SEMANTIC */
  /* Accent */
  --color-fg-accent: black;
  --color-bg-accent-emphasis: black;
  --color-bg-accent-muted: black;
  --color-border-accent-emphasis: black;
  --color-border-accent-muted: black;

  /* Warning */
  --color-fg-warning: black;
  --color-bg-warning-emphasis: black;
  --color-bg-warning-muted: black;
  --color-border-warning-emphasis: black;
  --color-border-warning-muted: black;

  /* Success */
  --color-fg-success: black;
  --color-bg-success-emphasis: black;
  --color-bg-success-muted: black;
  --color-border-success-emphasis: black;
  --color-border-success-muted: black;

  /* Danger */
  --color-fg-danger: hsl(0, 86%, 60%);
  --color-bg-danger-emphasis: hsl(0 72.2% 50.6%);
  --color-bg-danger-muted: hsl(0, 48%, 18%);
  --color-border-danger-emphasis: hsl(0 72.2% 50.6%);
  --color-border-danger-muted: hsl(0 72.2% 50.6%);

  /* --- PATTERN --- */
  /* Control > Bg */
  --color-control-bg: hsl(219, 39%, 13%);
  --color-control-bg-hover: hsl(220, 32%, 28%);
  --color-control-bg-active: hsl(220, 29%, 30%);
  --color-control-bg-disabled: hsl(220, 29%, 30%);
  /* Control > Border */
  --color-control-border: hsl(220, 32%, 24%);
  --color-control-border-hover: hsl(220, 32%, 24%);
  --color-control-border-active: hsl(220, 33%, 61%);
  --color-control-border-disabled: hsl(221, 23%, 24%);
  /* Control > Fg */
  --color-control-fg: var(--color-fg);
  --color-control-fg-hover: var(--color-fg);
  --color-control-fg-muted: var(--color-fg-muted); /* e.g. Input placeholder */ 
  --color-control-fg-disabled: hsl(215, 20%, 56%);
  /* Control > Overlay (control-transparent-bgColor in Primer) */
  --color-control-overlay: transparent;
  --color-control-overlay-hover: hsla(210, 95%, 85%, 0.10);
  --color-control-overlay-active: hsla(211, 33%, 69%, 0.15);
  --color-control-overlay-disabled: hsla(211, 33%, 69%, 0.15);
  /* Control > Inverted (not in Primer) */
  --color-control-inverted: var(--color-fg);
  --color-control-inverted-hover: hsl(215, 32%, 72%);
  --color-control-inverted-active: var(--color-fg-muted);
  --color-control-inverted-disabled: var(--color-fg-muted);
  --color-control-inverted-fg: var(--color-bg);
  --color-control-inverted-fg-muted: var(--color-bg-muted);
  --color-control-inverted-fg-disabled: var(--color-bg-emphasis);

  /* Focus */
  --color-focus-outline: hsl(219, 89%, 48%);

  /* Deriv (use at 75% opacity) */
  --color-deriv-bg-neutral-1: var(--color-bg);
  --color-deriv-bg-neutral-2: hsl(219, 35%, 16%);
  --color-deriv-bg-neutral-3: hsl(219, 35%, 26%);
  --color-deriv-bg-warning-1: black;
  --color-deriv-bg-warning-2: black;
  --color-deriv-bg-warning-3: black;
  --color-deriv-bg-danger-1: hsl(0 72.2% 50.6%);
  --color-deriv-bg-danger-2: hsl(2, 92%, 66%);
  --color-deriv-bg-danger-3: hsl(2, 100%, 77%);
  --color-deriv-selection: hsla(219, 89%, 48%, 0.50);

  /* --- FONT --- */
  --font-math: 'M PLUS 1p', var(--font-sans);
}

/* Inherited from shadcn */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}

/* Old shadcn palette */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
} */