@import '../static/fonts/MPLUS1p/MPLUS1p';
@import 'tailwindcss';

@config '../tailwind.config.ts';

@theme {
  /* The theme design is heavily inspired by Github Primer */

  /* --- FUNCTIONAL --- */
  /* NEUTRAL */
  /* Background */
  --color-bg: hsl(222.2 84% 4.9%);
  --color-bg-muted: hsl(217.2 32.6% 17.5%);
  --color-bg-emphasis: hsl(209, 100%, 91%);
  --color-bg-inset: hsl(223, 88%, 3%);

  /* Foreground */
  --color-fg: hsl(210 40% 98%);
  --color-fg-muted: hsl(215 20.2% 65.1%);
  --color-fg-onEmphasis: hsl(223, 88%, 3%);
  --color-fg-link: black;

  /* Border */
  --color-border: hsl(217.2 32.6% 17.5%);
  --color-border-muted: hsla(217, 23%, 35%, 1.00);
  --color-border-emphasis: hsl(210 40% 98%);

  /* SEMANTIC */
  --color-fg-accent: black;
  --color-bg-accent-emphasis: black;
  --color-bg-accent-muted: black;
  --color-border-accent-emphasis: black;
  --color-border-accent-muted: black;

  --color-fg-warning: black;
  --color-bg-warning-emphasis: black;
  --color-bg-warning-muted: black;
  --color-border-warning-emphasis: black;
  --color-border-warning-muted: black;

  --color-fg-success: black;
  --color-bg-success-emphasis: black;
  --color-bg-success-muted: black;
  --color-border-success-emphasis: black;
  --color-border-success-muted: black;

  --color-fg-danger: hsl(0 72.2% 50.6%);
  --color-bg-danger-emphasis: hsl(0 72.2% 50.6%);
  --color-bg-danger-muted: hsl(0, 45%, 63%);
  --color-border-danger-emphasis: black;
  --color-border-danger-muted: black;

  /* --- PATTERN --- */
  /* (Only universal patterns like focus are here.) */
  /* Focus */
  --color-focus-outline: black;

  /* --- FONT --- */
  --font-math: 'M PLUS 1p', var(--font-sans);
}

/* Inherited from shadcn */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-fg;
  }
}

/* Old shadcn palette */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
} */